.event-details {
    margin: 0 auto 20px;
    width: min-content
}

.event img {
    width: 600px;
}

.event-details caption {
    width: 100%;
    display: block;
    font-weight: 800;
    font-size: 1.7rem;
}